.imgIngrediente{
    height: 35px;
    width: 50px;
}

/* .contenedorArmaLaTuya{
    background-color: #000;
    color: white;
}

.contenedorIngredientes{
    color: white;
    border: none;
    width: 100%;
    background-color: #000;
    padding: 10px;
    height: 50px;
    border: 2px solid rgb(242, 193, 61);
    margin: 10px;
} */

.itemPedido{
    width: 80%;
    margin: 8px;
    border-bottom: 2px solid rgb(242, 193, 61);
}